{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "prettier/prettier": "error"
  }
}
